.feed-component-wrapper {
    background-size: cover;
    width: 50%;
    float: left;
    display: flex;

    .expanded-view {
        display: none;
    }

    .social-media-source{
      color: white;
    }

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &[data-state='open'] {
        width: 100%;

        .expanded-view{
            display: block;
        }

        &:after {
            padding-bottom: 50%;
        }
    }



    &[data-state= 'closed'] {
        width: 100%;

        &:after {
            padding-bottom: 50%;
        }
    }
}

.closed-view{
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-left: auto;
    padding-bottom: 1em;
    padding-right: 1em;
    a {
        font-size: 1.25rem;
        color: $medium;
    }
}
