.feed-component-wrapper {
    background-size: cover;
    width: 50%;
    float: left;

    .expanded-view {
        display: none;
    }

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &[data-state='open'] {
        width: 100%;

        .expanded-view{
            display: block;
        }

        &:after {
            padding-bottom: 50%;
        }
    }
}
