.popular-component-wrapper {
    background-size: cover;
    background-position: center center;
    width: 50%;
    float: left;
    display: flex;
    overflow: hidden;

    &:nth-child(4n+4), &:nth-child(4n+1) {
        background-color: lighten($light, 10%);
    }

    .expanded-view {
        display: none;
    }

    .social-media-source{
      color: white;
    }

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &[data-state='closed']{
      .closed-view {
            position: relative;
            padding: .25rem;
            width: 100%;

            .header {
                img {
                    border-radius: 99px;
                    border: 2px solid $hard;
                    height: 2em;
                    width: 2em;
                }
                * {
                    display: inline;
                }
            }

            .tweet_text {
                padding: .5rem;
            }

            a {
                position: absolute;
                top: .25em;
                right: .25em;
                color: $medium;
                font-size: 1.5rem;
            }

            .follow_heart{
              color: $link-grey;
              margin: auto;
              font-size: 1.25rem;
              position: absolute;
              bottom: .25em;
              right: .25em;
              &[data-state='active'] {
                color: $medium;
              }
            }
        }
    }

    &[data-state='open'] {
        width: 100%;
        background-image: none !important;

        a {
            color: $medium;
          }

        .expanded-view{
            background-color: lighten($light, 5%);
            display: block;
            padding: .5rem;
            position: fixed;
            z-index: 9999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            box-sizing: border-box;
            border-radius: 3px;

            .header {
                align-items: center;
                display: flex;
                margin-bottom: 1em;

                img {
                    border-radius: 99px;
                    border: 2px solid $hard;
                    height: 2.5em;
                    width: 2.5em;
                }

                h3 {
                    font-size: 1.25em;
                    margin-left: 1rem;
                }

                .verifiedIcon{
                  height: 1rem;
                  border: 0;
                }
            }

            .content-container {
                position: relative;

                .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $medium;
                    font-size: 1.5rem;
                }

                p {
                    margin-bottom: 1rem;
                    padding-right: 1.5rem;
                }

                .hashtags {
                    display: block;
                }

                .meta-data {
                    display: flex;
                    justify-content: space-around;
                    padding: .5rem;

                    .follow_heart{
                      color: $link-grey;
                      margin: auto;
                      font-size: 1.25rem;
                      position: absolute;
                      bottom: .25em;
                      right: .25em;
                      &[data-state='active'] {
                        color: $medium;
                      }
                    }

                    .metaIcon{
                      margin-right: 0.5rem;
                      color: $medium;
                    }
                }
            }
        }

        .blur-overlay {
            background-color: rgba(0,0,0,0.5);
            position: fixed;
            top: -20vh;
            left: -20vw;
            height: 200vh;
            width: 200vw;
            z-index: 999;
        }
        .closed-view {
            display: none;
        }
        &:after {
            padding-bottom: 0%;
        }
    }
}