.ad-list{
  margin-bottom: 10px;
}

.ad-list-component{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 1px;
  padding: .5rem;

  p{
    padding-top: 0.8vw;
  }
}

.ad-list-component:nth-child(2n){
  background-color: lighten($light-pink, 3%);
}

.ad-list-header{
  padding: 0 .5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-weight: bold;
}
