.ad-list{
  margin-bottom: 10px;
  overflow-y: auto;
  max-height: 80vh;


}

.ad-list-component{
  display: grid;
  grid-template-columns: 2.5fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 1px;
  padding: .5rem;
  cursor:pointer;

  span{
    font-size: 0.85em;
  }
  p{
    padding-top: 0.8vw;
  }
  .trashIcon:hover{
    color: red;
    cursor: pointer;

  }
}
.ad-list-component:hover{
  background-color: $light !important;
}

.ad-list-component:nth-child(2n){
  background-color: lighten($light-pink, 3%);
}

.ad-list-header{
  padding: 0 .5rem;
  display: grid;
  grid-template-columns: 1.45fr 0.2fr 0.4fr 0.5fr;
  font-weight: bold;
  .title-span{
    font-size:1em;

  }
  span{
    font-size: 0.7em;

  }
}

.status-text{
  text-align: center;
  margin-bottom: 6px;
  color: $harder;
  text-decoration: underline;
}

.whole-ad-component{
  background-color: white;
}
