.create-ad-container{
  .white-form {

    input, select, textarea {
      background-color: lighten($light-pink, 3%);
      margin: 1rem 0;
      border-bottom: 2px solid $medium;


      &::placeholder {
        color: $gs-hard;
        font-size: 1.3rem;
      }
    }

    .white-button {
      background-color: lighten($light-pink, 3%);
    }
  }
}