.influencer-list-component{
  display: grid;
  grid-template-columns:0.5fr 1fr 3fr 1fr;
  width: 100%;
  grid-gap: 1px;
  padding: 1px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;

  img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  p{
    padding-top: 0.8vw;
  }
}

.influencer-list-component:nth-child(2n){
  background-color: #eee !important;
}

.influencer-list-title{
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 4px;
}
