@import './../vars.scss';

.most-clicked-and-search{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 2vw;
    margin: 0 2em;

    .admin-box{
      margin-top: 3rem;
      background-color: white;
    }

    .admin-left-content{
      width: 50vw;
    }

  .section-title{
    padding: 1rem;
    text-align: center;
    background-color: $light;
    margin-bottom: 1rem;
  }
}