@import './../vars.scss'; 

.admin-search-content {
    background-color: #ffe6e6;
    width: 100%;
    padding-top: 0px;
    flex-wrap: wrap;
    z-index:0;
    position: relative;

    .feed-page{
      box-sizing: inherit;
      margin: 0 auto;
      max-height: 588px;
      overflow: auto;
      margin-top: 0px;
      z-index: 2;
      position: absolute;
      top: 52px;
      padding-top: 0%;
  }

  .info-text {
    width: 70%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    color: $text;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
  }
}
