.bg{
    height: 90vh;
    background-color: $light-pink;
    top: 2rem;
    bottom: 1rem;
}

.delete{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .delete-Title{
        align-self: center;
        text-align: center;
        color: $grey;
        font-size: 1.3rem;
        align-self: center;
    }

    .delete-Form{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .delete-Options{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .delete-Button{
                align-self: center;
                border: 0.1rem solid $white;
                border-radius: .2rem;
                background: $white;
                color: $grey;
                font-size: 1.3rem;
                padding: .5rem;
                margin:1rem;
                text-align: center;
            }

            .delete-Button:active{
                background-color: $light-pink;
            }

            .deleteButton:hover{
                background-color: $light-pink;
            }
        }
    }
}
