.FiltFooter{
  max-width: 812px;
  background-color:  $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footStart{
  align-self: flex-start;
}

.footEnd{
  align-self: flex-end;
}

.footItem{
  color:$link-grey ;
  margin: auto;
}
