.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


body {
    color: red;
    background-color: #FDD3B6;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.FooterButton{
  a {
    color: white;
  }
}
