header {
  background-color: $light;
  height: $headerHeight;
  color: $white;
  text-align: center;
  position: fixed;
  margin-top: -$headerHeight;
  z-index: 9;
  width: 100%;
  h1 {
    font-size: $headerHeight / 2;
    font-family: 'Pacifico', cursive;
    padding-top: $headerHeight / 8;
    color: $white;  
  }
}