header {
  background-color: #FDD3B6;
  height: 4em;
  color: white;
  text-align: center;
<<<<<<< HEAD
=======
  
>>>>>>> 0f85871e4d79725b260e784ecf818bc36dcdd57e
  h1 {
    padding-top: 1em;
    font-size: 1.5em;
    }
}
