@import 'vars';
@import 'reset';
@import 'footer';
@import 'header';
@import 'login';
@import 'footer/subFooter';
@import 'footer/filterFooter';
@import 'popular/popular-component.scss';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import 'popular/popular.scss';

body {
    color: $gs-hard;
    max-width: $maxWidth;
    font-family: 'Open Sans', sans-serif;
}

input {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

@font-face {
  font-family: 'Pacifico', cursive;
  src: url('https://fonts.googleapis.com/css?family=Pacifico')
}

img {
    max-width: 100%;
}

main {
  margin-top: $headerHeight;
  margin-bottom: $footerHeight;
}
