@import 'vars';
@import 'reset';
@import 'footer';
@import 'header';
@import 'login';
@import 'search';
@import 'search/search-components';
@import 'footer/sub-footer';
@import 'footer/filter-footer';
@import 'popular/popular-component';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import 'popular/popular';
@import 'feed/feed-component';
@import 'feed/components/feed-component-header';
@import 'feed/components/feed-component-content';
@import 'feed/components/feed-component-meta';
@import 'register';
@import 'feed';
@import 'admin/admin-page.scss';
@import 'admin/admin-login.scss';
@import 'admin/statistics.scss';
@import 'admin/create-ad.scss';
@import 'admin/influencer-list.scss';
@import 'admin/ad-list';
@import 'admin/statistic-platform.scss';

html {
    background-color: $light;
}

body {
    color: $gs-hard;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: $white;
}

input {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

@font-face {
  font-family: 'Pacifico', cursive;
  src: url('https://fonts.googleapis.com/css?family=Pacifico')
}

img {
    max-width: 100%;
}

main {
  margin-top: $headerHeight;
  margin-bottom: $footerHeight;
}

@media screen and (min-width: 480px) {
  html {
      background: $gs-hard;
  }
  .mobile-page{
    max-width: 375px;
    margin: 0 auto;


    body, header, footer {
        max-width: 375px;
    }

    body {
        margin: 0 auto;
    }

}
}
