@import 'vars';
@import 'reset';
@import 'footer';
@import './footer/filterFooter';

body {
    color: $gs-hard;
    max-width: 812px;;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
}
