.modify {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $light-pink;
  margin-top: -$footerHeight;

  .modifyForm{
     align-self: center;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
  }

  .confirmForm{
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      margin-top: 5rem;
      border-top: 1rem $light;

      .inputConfirm{
          margin:1rem;
          align-self: center;
          outline: none;
          resize: none;
          border: none;
          overflow: auto;
          color: $grey;
          background: rgb(255,255,255);
          text-align: center;
          height: 2rem;
          font-size: 1.3rem;
          width: 80%;

          &::placeholder {
            color: $light-pink;
            font-size: 1.3rem;
          }
      }
  }

  .title {
    align-self: center;
    font-family: 'Pacifico', cursive;
    color: $white;
    margin: 4rem;
    font-size: 5rem;
  }

  .inputTitle{
      color: $grey;
      font-size: 1.3rem;
      align-self: center;
  }

  .input {
    margin:1rem;
    margin-bottom: 2rem;
    align-self: center;
    outline: none;
    resize: none;
    border: none;
    overflow: auto;
    color: $grey;
    background: rgb(255,255,255);
    text-align: center;
    height: 2rem;
    font-size: 1.3rem;
    width: 80%;

    &::placeholder {
      color: $light-pink;
      font-size: 1.3rem;
    }
  }

  .modButton{
      align-self: center;
      border: 0.1rem solid $white;
      border-radius: .2rem;
      background: $white;
      color: $grey;
      font-size: 1.3rem;
      width: 80%;
      margin:1rem;
      text-align: center;
  }

  .modButton:active{
      background-color: $light-pink;
  }

  .modButton:hover{
      background-color: $light-pink;
  }

}
