.register {
  background-image: linear-gradient(135deg, #FFF886 10%, #F072B6 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: 'Pacifico', cursive;
    color: $white;
    margin: 4rem;
    font-size: 5rem;
  }

  h2 {
    color: $white;
    font-size: 2rem;
  }

  input, select {
    width: 80%;
    margin: 1rem;
    background: rgba(255,255,255,0.2);
    outline: none;
    resize: none;
    border: none;
    color: $white;
    overflow: auto;
    text-align: center;
    height: 2rem;
    font-size: 1.3rem;
    border-radius: none;

    &::placeholder {
      color: $white;
      font-size: 1.3rem;
    }
  }

  a, button {
    text-align: center;
    background: transparent;
    color: $white;
    border: 0.1em solid $white;
    border-radius: 0.5em;
    display: block;
    font-size: 1rem;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    box-sizing: border-box;
  }

}
