//Vars Colors
$white: #fff;
$lighter: #FFF6B7;
$light: #fdd3b6;
$medium: #faa495;
$hard: #febbbc;
$harder: #F6416C;
$grey: #7c7c7c;
$gs-hard: #333;
$link-grey: #E0E0EB;
$light-pink: #ffe6e6;

//vars sizes
$maxWidth: 375px;
$headerHeight: 3em;
$footerHeight: 7em;
$borderRadius: 3px;
