.searchHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.5em;
        padding-bottom: 1.1em;
        border-radius: 25px;
        background:rgba(255,255,255, 0.6);

        .userName {
          padding-right: 1em;
          margin-top: 0.7em;
        }

        a{
          font-size: 1.2em;
          color: $medium;
        }

        .searchPlatforms{
          color: $medium;
          font-size: 1em;
          letter-spacing: 10px;
          margin-top: 1em;
        }

        img {
                margin-top: 1em;
                border-radius: 99px;
                border: 2px solid $hard;
                height: 2em;
                width: 2em;
                margin-left: 0.7em;
                margin-right: 0.7em;
            }
            * {
                display: inline;
            }
}
