footer{
  .filter{
    background-color:  $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    .item{
      color: $link-grey;
      margin: auto;
      font-size: 1.25rem;

      &[data-state='active'] {
        color: $medium;
      }
    }
  }
}