.FiltFooter{
  background-color:  $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem 0;


  .footItem{
    color: $link-grey;
    margin: auto;

    &[data-state='active'] {
      color: $medium;
    }
  }
}